header {
    width: auto;
    @include fontStyle();
    .logo{
        float: left;
    }
    nav{
        @include fontStyle();
        float: right;
        color: blue;
    }
}
@media (max-width: 768px){
    nav{
        display: none;
    }
}